.banner-container {
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
}


.banner-container-background {
    height: 200px;
    width: 100%;
    background-image:url(../assets/banner.png)  ;
    border-radius: 25px;
    filter : brightness(60%);
    /* position: relative; */
    z-index: 1;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.banner-container-backgroundAbout {
    height: 200px;
    width: 100%;
    background-image:url(../assets/backgroundAbout.png)  ;
    border-radius: 25px;
    filter : brightness(60%);
    position: relative;
    background-size: cover;
}

.banner-container-title {
    position: absolute;
    bottom: 25%;
    right: 11%;
    left: 1%;
    top:25%;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    
}

@media  screen and (max-width: 768px) {
    .banner-container-title {
        font-size: 1.8em;
        /* left: 15vw;
        top: 7vh; */
    }
    .banner-container-background {
        height: 150px;
        background-position: center;
    }
    .banner-container-backgroundAbout {
        height: 230px;
        background-position: center;
    }
    .banner-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}