.card-container {
    border-radius: 10px;
    width: 30vw;
    height: 230px;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

.card-container img {
    width: inherit;
    height: inherit;
}

.card-container h3 {
    /* z-index: 2; */
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ff6060;
}


@media  screen and (max-width: 768px) {
    .card-container {
        height: 200px;
        width: -webkit-fill-available;
        margin: 10px 0;
        object-fit: center;
    }
}