.dropdown-container {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0;
}
.dropdown-title {
    color: #FFF;
    margin: 0;
}

.dropdown-text {
    background-color:#F7F7F7 ;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

.dropdown-logo {
    background-color: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .dropdown-container {
        width: auto;
        margin-bottom: 20px;
    }
}

/*DropDownEquipments & About*/

.dropdown-text li {
    list-style-type: none;
}

.dropdown-text-height {
    min-height: 110px;
}