.footer-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
    margin-right: -20px;
    margin-left: -30px; 
    position: relative;
    bottom: 0; 
}


.footer-container>img {
    width: 200px;
    height: 30px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    
}